* {
    box-sizing: border-box;
}

body {
  color: #f8f9fa;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  
}

hr {
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  padding: 10px 8px;
  background-color: #1c5fcc;
  border-bottom: 1px solid #113b7f;
  display: flex;
  align-items: center;
  gap: 8px;
}

.main-menu-button {
  display:flex;
  border: none;
  padding: 10px;
  background: none;
  color: #f8f9fa;
  cursor: pointer;
  border-radius: 20px;
}

.main-menu-button:hover {
  background-color: #1a58bf;
}

.main-menu-button .material-icons {
  font-size: 27px;
  font-weight: 100;
}

.app-title {
  margin: 0;
  font-weight: 600;
  cursor: default;
}

.search-container {
  display: flex;
  gap: 5px;
  margin-left: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.app-body {
  display: flex;
  height: 1000px;
}

.main-menu {
  color: #37373d;
  display: flex;
  flex-direction: column;
  padding: 16px 18px 16px 10px;
  width: 290px;
  min-width: 290px;
  max-width: 290px;
  height: 100%;
  gap: 45px;
}

.create-task-button {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: #37373d;
  background-color: #ffffff;
  margin: 0;
  padding: 8px 15px;
  border-radius: 26px;
  cursor: pointer;
  width: 118px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),
              0 1px 3px 1px rgba(60,64,67,0.149);
  transition: box-shadow 0.3s ease, transform 0.3s ease;            
}

.create-task-button:hover {
  color: #123873;
  background-color: #f6f9fe;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.352),
              0 1px 3px 1px rgba(60, 64, 67, 0.199);
}

.create-task-button .material-icons {
  font-weight:lighter;
  font-size: 31px;
}

/* editing-task classes */
.editing-task {
  background-color: #f2f2f2;
  padding: 5px 15px;
  display:flex;
  gap: 12px;
}

.editing-task-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.task-name-textarea, .task-desc-textarea{
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  color: #202124;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
  resize: none;
}

.task-name-textarea {
  font-size: 16px;
}

.task-desc-textarea {
  font-weight: 100;
  font-size: smaller;
}

.task-name-textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
}

.task-desc-textarea::placeholder {
  font-size: smaller;
  font-weight: 100;
}

.task-name-textarea:focus, .task-desc-textarea:focus {
  outline: none;
}

.editing-task-buttons {
  display: flex;
  justify-content: flex-end;
}

.editing-task-buttons button {
  margin-top: 5px;
  margin-right: 5px;
}

/* task classes */
.tasks-list-container.favorites {
  width: 80%;
  margin: 8px;
}

.tasks-list-container {
  color: #000000;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-color: rgb(241,243,244);
  border-width: 1px;
  border-style: solid;
  min-width: 200px;
  max-width: 800px;
  border-radius: 12px;
  margin: 3px;
  word-break: break-word;
}

.tasks-list-container:hover {
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),
              0 1px 3px 1px rgba(60,64,67,0.149);
}

.tasks-list-container hr {
  margin: 0px;
  border: 1px solid rgb(241,243,244);
}

.list-heading {
  font-size:large;
  display: flex;
  position: relative;
  align-items: center;
  padding: 7px 0 7px 15px;
}

.list-context-button {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
  margin-right: 7px;
  border-radius: 7px;
}

.list-context-button .material-icons{
  color: #5f6368;
}

.list-context-button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.task-list-title {
  margin: 0;
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size:large;
  font-weight:400;
  padding: none;
  padding: 0;
  width: 100%;  
  overflow: hidden;
  resize: none;
}

.task-list-title::placeholder {
  color: #9f9f9f;
  font-weight:250;
}

.task-list-title:focus {
  outline: none;
}

.task-checkbox {
  border-radius: 100%;
}

.task-container {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  gap: 12px;
  word-break: break-word;
  padding: 5px 15px;
}

.task-container:hover {
  background-color: #f2f2f2 ;
}

/* #f2f2f2 */
/* background for the task settings */
.task-settings-container {
  color: #5f6368;
  padding-left: 25px;
  position: absolute;
  right: 15px;
  top: 0px;
  bottom: 0px;
  display: flex;
  background: linear-gradient(to right, rgba(173, 216, 230, 0) 1%, #f2f2f2 99%);
  flex-shrink: 0;
  visibility: hidden;
  z-index: 1;
  padding-top: 4px;
}

.task-container:hover .task-settings-container{
  visibility: visible;
}

.task-container .task-settings-container .task-settings-content{
  visibility: visible;
}

.task-settings-button button{
  display: flex;
  align-items: center;
  border-radius: 7px;
  color: #5f6368;
  width: fit-content;
  height: fit-content;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.task-settings-button button:hover {
  background-color: #e5e5e5;
}

.task-settings-content {
  display: block;
  position: absolute;
  background-color: #ffffff ;
  padding: 5px 0px;
  border-radius: 3px;
  z-index: 2;
  width: 200px;
  min-width: fit-content;
  top: 28px;
  right: 7px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 
              0px 4px 8px rgba(0, 0, 0, 0.1), 
              0px 8px 16px rgba(0, 0, 0, 0.1); /* Google's shadow style */
  
}

.task-settings-content .delete-task-button {
  display: flex;
  margin: 0px;
  padding: 3px 0px 3px 10px;
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  height: fit-content;
  background: none;
  color: black;
  font-style: "Open Sans";
  gap: 10px;
}

.task-settings-content .delete-task-button .material-symbols-outlined {
  font-size: 22px;
  color: #5f6368;
  font-weight: 350;
}

.task-settings-content .delete-task-button:hover {
  background-color: #f2f2f2 ;
}

.list-context {
  position: relative;
  display: inline-block;
}
 
.list-context-content {
  font-size: 16px;
  color: #202124;
  display: block;
  position: absolute;
  background-color: #ffffff ;
  padding: 5px 0px;
  border-radius: 3px;
  font-size: 0.7em;
  z-index: 1;
  width: 200px;
  min-width: fit-content;
  max-width: 200px;
  right: 45%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 
              0px 4px 8px rgba(0, 0, 0, 0.1), 
              0px 8px 16px rgba(0, 0, 0, 0.1); /* Google's shadow style */
}

.list-context-content ul {
  padding: 0;
  margin: 0;
}

.list-context-content span {
  padding-left: 10px;
}

.list-context-content li{
  font-size: 16px;
  padding: 2px;
  display:block;
  list-style-type: none;
}

.list-context-content li:hover {
  background-color: #f2f2f2 ;
  cursor: pointer;
}

.task-checkbox-container {
  padding-top: 3px
}

.task-checkbox {
  display: none;
  margin: 0px;
}

.task-checkbox + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%; /* Make it round */
  border: 2px solid #5f6368; /* Border color */
  position: relative;
  cursor: pointer;
}


.task-checkbox + label::after {
  content: '';
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1.8px 1.8px 0;
  position: absolute;
  top: 0px;
  left: 3px;
  transform: rotate(45deg) scale(0); 
  transition: transform 0.2s ease-in-out;
}

.task-checkbox:checked + label {
  background-color: #1a73e8; /* Checked background color */
  border-color: #1a73e8; /* Match border color */
}

.task-checkbox:checked + label::after {
  transform: rotate(45deg) scale(1); /* Show the checkmark when checked */
}

.task-info {
 width: 83%
}

.task-info h4{
  color: #202124;
  font-size: 16px;
  font-weight: 400;
}

.task-info p{
  font-weight: 100;
  font-size: smaller;
  color: #5f6368;
}

.task-info h4, p {
  justify-content: flex-start;
}

.task-info h4, p{
  margin: 0px;
  cursor: default;
}
 


/* task classes */

.task-list {
  list-style-type: none;
  padding: 6px 0px;
  margin: 0px;
}

.add-task-button {
  margin-top: 6px;
  border-radius: 17px;
  background: none;
  border: none;
  display: flex;
  color: #1a73e8;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 6px 6px 6px 12px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.add-task-button:hover {
  background-color: #f6f9fe;
  color: #174ea6;
}

.add-task-icon.material-symbols-outlined {
  font-size: 20px;
}

.task-selections {
  display: flex;
  flex-direction: column;
}

.button-selection {
  display: flex;
  gap: 13px;
  padding: 6px 18px;
  background: none;
  border:none;
  border-radius: 15px;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: #37373d;;
}

.button-selection.selected {
  background-color: #e8f0fe;
  font-weight: 600;
}

.button-selection.selected:hover {
  background-color: #e0ebfd;
}

.button-selection:hover {
  color: #123873;
  background-color: #eeeff0;
}

.lists-markdown {
  color: #37373d;
  font-size: 15px;
}

.lists-markdown-button {
  display: flex;
  align-items: center;
}

.lists-markdown-button div{
  padding-left: 22px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  width: 100%;
}

.lists-markdown-button button{
  display: flex;
  color: inherit;
  background: none;
  border-radius: 25px;
  font-size: 15px;
  padding: 3px;
  margin: 0px;
  border: none;
  cursor: pointer;
}

.lists-markdown-button button:hover {
  background-color: #eeeff0;
}

.lists-container-overflow {
  max-height: 290px;
  overflow: auto;
}

.lists-container {
  display:flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  padding: 11px 24px;
  color: inherit;
  list-style-type: none;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
  cursor: pointer;
  line-height: 2px;
  border-radius: 15px;
  overflow: hidden;
  white-space: nowrap;
  gap: 17px;
}

.list-item:hover {
  background-color: #eeeff0;
}

.list-item-checkbox {
  margin: 0px 0px 0px 2px;
  transform: scale(1.5);
  cursor: pointer;
}

.tasklists-container {
  display: flex;
  width: 100%;
  margin: 5px;
}

.main-container {
  padding-top: 13px;
  width: 1980px;
  display: flex;
}

.add-list-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 21px;
  background: none;
  border: none;
  cursor: pointer;
  gap: 12px;
  font-size: inherit;
  color: inherit;
  font-weight: 600;
  border-radius: 15px;
  color: inherit;
}

.add-list-button:hover {
  background-color: #eeeff0;
}