* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.quote-buttons {
    margin-top: 5px;
}

.get-quote-button {
    margin-right: 5px;
}

.toolbar {
    text-align: center;
    background-color: darkgreen;
    padding: 10px;
    width: 100%;
}

.app-title {
    color: white;
    margin: 0px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.clear-quote {
    width: 50px;
}

.quote-quote, .quote-author {
    margin: 0 0 5px 0;
}

.highlighted {
    background-color: #72b83d;
}
