* {
    box-sizing: border-box;
}
body {
  background-color: #f8f9fa;
}
hr {
  margin: 0;
}

.toolbar{
  display: flex;
  gap: 5px;
  width: 100%;
  padding: 7px;
  flex-grow: 0;
  flex-shrink: 0;
}

.search-container {
  display: flex;
  gap: 5px;
  margin-left:auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.app-title {
  margin: 0;
  padding-left: 7px;
}

/* editing-task classes */
.editing-task {
    margin: 0px 7px 0 7px;
}

.editing-task-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.editing-task-buttons {
  display: flex;
  justify-content: flex-end;
}

.editing-task-buttons button {
  margin-top: 5px;
  margin-right: 5px;
}

/* task classes */
.tasklists-container {
  padding: 7px;
}

.tasks-list-container {
  background-color: #ffffff;
  border-color: rgb(241,243,244);
  border-width: 1px;
  border-style: solid;
  min-width: 200px;
  border-radius: 12px;
  word-break: break-word;
  margin: 5px;
}

.tasks-list-container:hover {
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),
              0 1px 3px 1px rgba(60,64,67,0.149);
}

.tasks-list-container hr {
  margin: 0px;
  border: 1px solid rgb(241,243,244);
}

.list-heading {
  display: flex;
  position: relative;
  color: black;
  align-items: center;
  padding: 7px 0;
}

.list-context-button {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
  margin-right: 7px;
  border-radius: 7px;
}

.list-context-button .material-icons{
  color: #5f6368;
}

.list-context-button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.task-list-title {
  margin: 0 0 0 15px;
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size:large;
  font-weight:400;
  padding: none;
  padding: 0;
  width: 100%;
  resize: none;
  
}

.task-list-title::placeholder {
  color: #9f9f9f;
  font-weight:250;
}

.task-list-title:focus {
  outline: none;
}

.task-checkbox {
  border-radius: 100%;
}

.task-container {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  gap: 12px;
  word-break: break-word;
  padding: 5px 15px;
}

.task-container:hover {
  background-color: #f2f2f2 ;
}

/* #f2f2f2 */
/* background for the task settings */
.task-settings-container {
  position: absolute;
  right: 15px;
  top: 0px;
  bottom: 0px;
  display: flex;
  background: linear-gradient(to right, rgba(173, 216, 230, 0) 1%, #f2f2f2 99%);
  width: fit-content;
  flex-shrink: 0;
  visibility: hidden;
  z-index: 1;
  padding-top: 4px;
}

.task-container:hover .task-settings-container{
  visibility: visible;
}

.task-container .task-settings-container .task-settings-content{
  visibility: visible;
}

.task-settings-button button{
  display: flex;
  align-items: center;
  border-radius: 7px;
  color: #5f6368;
  width: fit-content;
  height: fit-content;
  margin-left: 30px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.task-settings-button button:hover {
  background-color: #e5e5e5;
}

.task-settings-content {
  display: block;
  position: absolute;
  background-color: #ffffff ;
  padding: 5px 0px;
  border-radius: 3px;
  z-index: 2;
  width: 200px;
  min-width: fit-content;
  top: 28px;
  right: 7px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 
              0px 4px 8px rgba(0, 0, 0, 0.1), 
              0px 8px 16px rgba(0, 0, 0, 0.1); /* Google's shadow style */
  
}

.task-settings-content .delete-task-button {
  display: flex;
  margin: 0px;
  padding: 3px 0px 3px 10px;
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  height: fit-content;
  background: none;
  color: black;
  font-style: "Open Sans";
  gap: 10px;
}

.task-settings-content .delete-task-button .material-symbols-outlined {
  font-size: 22px;
  color: #5f6368;
  font-weight: 350;
}

.task-settings-content .delete-task-button:hover {
  background-color: #f2f2f2 ;
}

.list-context {
  position: relative;
  display: inline-block;
}

.list-context-content {
  display: block;
  position: absolute;
  background-color: #ffffff ;
  padding: 5px 0px;
  border-radius: 3px;
  font-size: 0.7em;
  z-index: 1;
  width: 150px;
  min-width: fit-content;
  max-width: 150px;
  right: 45%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 
              0px 4px 8px rgba(0, 0, 0, 0.1), 
              0px 8px 16px rgba(0, 0, 0, 0.1); /* Google's shadow style */
}

.list-context-content ul {
  padding: 0;
  margin: 0;
}

.list-context-content span {
  padding-left: 10px;
}

.list-context-content li{
  padding: 2px;
  display:block;
  list-style-type: none;
}

.list-context-content li:hover {
  background-color: #f2f2f2 ;
  cursor: pointer;
}

.task-checkbox-container {
  padding-top: 3px
}

.task-checkbox {
  display: none;
  margin: 0px;
}

.task-checkbox + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%; /* Make it round */
  border: 2px solid #5f6368; /* Border color */
  position: relative;
  cursor: pointer;
}


.task-checkbox + label::after {
  content: '';
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1.8px 1.8px 0;
  position: absolute;
  top: 0px;
  left: 3px;
  transform: rotate(45deg) scale(0); 
  transition: transform 0.2s ease-in-out;
}

.task-checkbox:checked + label {
  background-color: #1a73e8; /* Checked background color */
  border-color: #1a73e8; /* Match border color */
}

.task-checkbox:checked + label::after {
  transform: rotate(45deg) scale(1); /* Show the checkmark when checked */
}

.task-info {
 width: 83%
}

.task-info h4{
  color: #202124;
  font-size: 16px;
  font-weight: 400;
}

.task-info p{
  font-weight: 100;
  font-size: smaller;
  color: #5f6368;
}

.task-info h4, p {
  justify-content: flex-start;
}

.task-info h4, p{
  margin: 0px;
  cursor: default;
}
 


/* task classes */

.task-list {
  list-style-type: none;
  padding: 6px 0px;
  margin: 0px;
}

.add-task-button {
  margin-top: 6px;
  margin-left: 7px;
  border-radius: 17px;
  background: none;
  border: none;
  display: flex;
  color: #1a73e8;
  align-items: center;
  width: 200px;
  gap: 10px;
  padding: 5px 6px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.add-task-button:hover {
  background-color: #f6f9fe;
  color: #174ea6;
}


.add-task-icon.material-symbols-outlined {
  font-size: 20px;
}


