* {
  box-sizing: border-box;
  font-family: "Open Sans", Roboto, RobotoDraft, Helvetica,Arial,sans-serif;
}

:root {
  color: #202124;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
